doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NEW MSG PROJECT
        link(rel="stylesheet", href="/css/styles.css")
    body
        section.pc__screen 
            p  arrar

        section.mobile__screen 
            main.main
                block content 

            nav.nav
                div
                    a(href="/friends") Friends
                div
                    a(href="/message") Message            
                div
                    a(href="/profile") Profiles