extends ./base.pug

block content 
    section.fhead
        div Friends
        div ICON

    section.fsearch 
        form(action="#" method="get")
        input(type="text" placeholder="친구를 검색하세요")

    section.flist 
        div.flist__friend
            div 
            div name 
            div status_msg         