extends ./base.pug

block content 
    section.mhead
        div Message 

    section.mlist
        div.mlist__rBox 
            p 받은 메세지(아이디)
            p 내용 30글자만 
        .mlist__sBox 
            p 보낸 메세지(아이디)
            p 내용 30글자만..